template(name="header")
  nav.navbar.navbar-default
    .container
      div.navbar-header
        .navbar-brand
          a(href="/")
            img(src="/images/cupenya-logo.png")
            | Cupenya
      div.navbar-header
        .navbar-brand
          a(href="/")
            img(src="/images/bluemix.png")
      div.navbar.navbar-title
        ul.navbar-nav-title
          li.title-menu-item
            a(href="/order-entry") Create Order
          li.title-menu-item
            a(href="/order-list") Manage Order
        p.navbar-text.navbar-right
          | Signed in as <i>John</i>
