template(name="header")
  nav.navbar.navbar-default
    .container
      div.navbar-header
        .navbar-brand
          a(href="/")
            img(src="/images/cupenya-logo.png")
            | Cupenya
      div.navbar-header
        .navbar-brand
          a(href="/")
            img(src="/images/bluemix.png")
      p.navbar-text.navbar-title
        | {{ title }}
      p.navbar-text.navbar-right
        | Signed in as <i>John</i>
